{{ if eq .chezmoi.os "darwin" }}

#!/bin/sh

if [ ! -f "/Users/linga/.config/chezmoi/key.txt" ]; then
    mkdir -p "/Users/linga/.config/chezmoi"
    chezmoi age decrypt --output "/Users/linga/.config/chezmoi/key.txt" --passphrase "{{ .chezmoi.sourceDir }}/key.txt.age"
    chmod 600 "/Users/linga/.config/chezmoi/key.txt"
fi

{{ end }}
