encryption = "age"
progress = true # display progress bar

[age]
identity = "{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt"
recipient = "age1yxj3sgee99ke5wtpzh2syrawekmu7kygx69kfdyk03cghqmgf3qs7qjxam"

[completion]
custom = true # enable custom shell completion
