encryption = "age"
progress = true # display progress bar

[age]
identity = "{{ .chezmoi.homeDir }}/.config/.age-key.txt"
recipient = "age142jxxglda43ghtr5l27h06arhazze8lleu80lap0s2sfawjywgqqj9pnc2"

[completion]
custom = true # enable custom shell completion
