/* vscode app icon in win11 */
.titlebar-left .window-appicon {
  background-size: 0px !important;
}

/* statusbar */
.monaco-workbench .part.statusbar {
  height: 26px !important;
  font-size: 11px !important;
}

/* global font */
.shadow-root-host,
.monaco-editor,
.mac,
.mac:lang(zh-Hans),
.mac:lang(zh-Hant),
.mac:lang(ja),
.mac:lang(ko),
.windows,
.windows:lang(zh-Hans),
.windows:lang(zh-Hant),
.windows:lang(ja),
.windows:lang(ko),
.linux,
.linux:lang(zh-Hans),
.linux:lang(zh-Hant),
.linux:lang(ja),
.linux:lang(ko) {
  font-family: "CommitMono Nerd Font Mono" !important;
}

/*
* strategy:
* 1. deliberately choose a small font-size to create additional padding 
* 2. scale whole list item back to readable size while still maintaining the padding
*
* panes in explorer view:
* - open editors: 'open-editors'
* - explorer: 'explorer-folders-view'
* - outline: 'outline-tree'
* - timeline: 'customview-tree'
*
* other panes:
* - search results: 'results'
* - search results in extensions view: 'extensions-list'
* - breakpoints in debug view: 'debug-breakpoints'
*
* other widgets:
* - command: 'quick-input-widget' or 'quick-input-list'
* - suggest: 'suggest-widget' or 'tree'
* - breadcrumbs: 'monaco-breadcrumbs-picker'
* - settings: 'settings-toc-wrapper'
* : 'scm-view'
* : 'debug-view-content'
* */

.open-editors,
.explorer-folders-view,
.outline-tree,
.customview-tree,
.results,
.extensions-list,
.debug-breakpoints,
.quick-input-widget,
.suggest-widget,
.monaco-breadcrumbs-picker,
.settings-toc-wrapper,
.scm-view,
.debug-view-content {
  & .monaco-list-row {
    font-size: 10px !important;
  }
  & .monaco-list-rows {
    zoom: 1.2 !important;
  }
}

/* fix zoom related styles
* - key-binding in command palette
* - install button in extension list
* - counts badge of search result
* - all kind of codicon
* - title of editor group in open editor
* - icons in explorer
*/

.monaco-list-row {
  & .quick-input-list-entry-keybinding,
  & .monaco-action-bar,
  & .monaco-count-badge,
  & .codicon[class*="codicon-"],
  & .editor-group,
  & .monaco-icon-label:before {
    zoom: 0.8 !important;
  }
}

/* activity bar height */
/* .composite-bar-container > * {
  height: 26px !important;
} */
