*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --rosewater: #dcb5a5;
  --flamingo: #c8a492;
  --pink: #9f9fbd;
  --mauve: #797994;
  --red: #b07878;
  --maroon: #cc9393;
  --peach: #d6caab;
  --yellow: #ebd6b7;
  --green: #778777;
  --teal: #9bb09b;
  --sky: #92b3b3;
  --sapphire: #769494;
  --blue: #7d96ad;
  --lavender: #9db2cf;

  --text: #b3b3b3;
  --subtext1: #9d9d9d;
  --subtext0: #878787;
  --overlay2: #707070;
  --overlay1: #5d5d5d;
  --overlay0: #4e4e4e;
  --surface2: #414141;
  --surface1: #353535;
  --surface0: #2a2a2a;
  --base: #1e1e1e;
  --mantle: #191919;
  --crust: #151515;

  --accent8: #faf5eb;
  --accent7: #dad5c8;
  --accent6: #c0baad;
  --accent5: #b3ad9f;
  --accent4: #a69f91;
  --accent3: #9a9487;
  --accent2: #8e897d;
  --accent1: #7f7b70;
  --accent0: #706c62;

  --accent-dim8: #f7f4ed;
  --accent-dim7: #d6d3cc;
  --accent-dim6: #bdbab2;
  --accent-dim5: #b4b0a7;
  --accent-dim4: #a19d97;
  --accent-dim3: #97948c;
  --accent-dim2: #8e8b85;
  --accent-dim1: #7b7974;
  --accent-dim0: #6c6a65;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";

  /* 1. Correct the line height in all browsers. */
  line-height: 1.15;
  /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -webkit-text-size-adjust: 100%;
  /* 3. Use a more readable tab size (opinionated). */
  tab-size: 4;

  /* add gap to match window manager */
  width: calc(100% - 20px);
  position: absolute;
  right: 10px;
  /* match wallpaper */
  background: var(--crust);
}

body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Text-level semantics
====================
*/

/* Add the correct font weight in Chrome and Safari. */
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Add the correct font size in all browsers. */
small {
  font-size: 80%;
}

/* Prevent 'sub' and 'sup' elements from affecting the line height in all browsers. */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Correct table border color inheritance in Chrome and Safari. 
(https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  border-color: currentcolor;
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/* Correct the inability to style clickable types in iOS and Safari. */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/** 
1. Remove the padding. 
2. Developers are not caught out when they zero out 'fieldset' elements in browsers.
*/
legend {
  padding: 0;
}

/* Add the correct vertical alignment in Chrome and Firefox. */
progress {
  vertical-align: baseline;
}

/* Correct the cursor style of increment and decrement buttons in Safari. */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/* Remove the inner padding in Chrome and Safari on macOS. */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/* Add the correct display in Chrome and Safari. */
summary {
  display: list-item;
}
